<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MimoiOSCodingChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BF3DEF11E54B79A004DD445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF3DF0A1E54B79A004DD445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF3DF151E54B79A004DD445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
